<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-8">
          <h3>Todas las opiniones</h3>
          <table class="table-responsive table-striped">
            <thead>
              <tr>
                <th>Formulario</th>
                <th>Valoracion</th>
                <th>Canal</th>
                <th>Segmento</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="r in soc.records">
                <td>{{r.opiName}}</td>
                <td>{{r.starsSelected}} <i class="fa fa-star" style="width: 25px;height: 25px;color: #FFB800;"></i></td>
                <td>{{r.channel}}</td>
                <td>{{r.segmento}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </section>
</div>
