<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-8">
          <h3>Lista de formularios</h3>
          <table class="table table-responsive table-striped text-center" ng-show="sfc.formularios">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>URL</th>
                <th>Activo</th>
                <th>Aleatoriedad</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="f in sfc.formularios">
                <td>{{f.opiName}}</td>
                <td><div style="width:400px; overflow:hidden">{{f.url}}</div></td>
                <td>{{f.mustShowOpi}}</td>
                <td>{{f.randomness}}</td>
                <td><a ng-href="http://{{f.url}}" target="_blank" class="btn btn-success btn-xs" role="button"><i class="fa fa-eye"></i> Ver</a></td>
                <td><a href="" class="btn btn-info btn-xs" role="button"><i class="fa fa-copy"></i> Clonar</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </section>
</div>
